# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual environments
venv/
.venv/
env/
ENV/

# Test / Coverage
.pytest_cache/
.coverage
htmlcov/
/tmp/test_*

# dotenv environment variables file
.env
# .env.test

# OS metadata
.DS_Store
Thumbs.db

# IDE files
.idea/
.vscode/
*.code-workspace

# Logs
logs/
*.log
